/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

#profile-pic {
  display: none;
}

.login-signup-upper {
  height: 300px;
  width: 400px;
  border: 1px solid red;
  background-image: url('.././../Images/loginImage2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(7, 6, 6);
  font-weight: bold;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border: 2px solid black;
  border-radius: 50%;
}

.bgimg {
  /* background-image: url("../../Images/bgimg.jpeg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 700px;
  border: 1px solid navy;
  background-color: #84ccd7;
}

.create-form {
  background-color: #c0c2c3;
  box-shadow: "10px 18px 4px 8px red";
  padding: 50px;
}

.simplebg {
  background-color: aliceblue;
}

.sideNav {
  border: 1px solid black;
  color: black;
}

.heartbtn {
  border: none;
}

.heartbtn:focus {
  outline: 0;
}

.name {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.heartbtn1 {
  color: red;
}

.mynav {
  background-color: #d5d5d1;
}